<!DOCTYPE html>
<html lang="en-US">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <body ng-app="myApp">

        <div ng-controller="myController">
            <h2>{{ time }}</h2>
            <p>Name : <input type="text" ng-model="name"></p>
            <h1>Hello {{name | uppercase}}</h1>
            Quantity: <input type="text" ng-model="quantity">
            Cost: <input type="text" ng-model="cost">
            <p>Quantity * Cost = {{ quantity * cost | currency:'€' }}</p>
            <!-- Object -->
            <p>{{ person.lastName }}</p>
            <!-- Arrays -->
            <p ng-repeat="x in myArray | filter:'4'">{{ x }}</p>
            Filter table: <input type="text" ng-model="filter_test">
            <ul>
                <li ng-repeat="x in names | filter:filter_test">{{ $index+1 }} -- {{ x }}</li>
            </ul>
            <!-- On click -->
            <h3 ng-click="changeName()">{{ startingVar }}</h3>
            <!-- Http service -->
            <div ng-click="getResponce()">GET HTTP</div>
            <!-- Select -->
            <select ng-model="selectedName" ng-options="x.firstName for x in person"></select>
            <h3>You selected: {{ selectedName.firstName }}</h3>
            <h4>You selected: {{ selectedName.lastName }}</h4>
        </div>

        <test-directive></test-directive>

        <form name="myForm">
            Email:
            <input class="myEmail" type="email" name="myAddress" ng-model="text" required>
            <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
            <h1>Status</h1>
            <!-- Valid != Dirty -->
            {{ myForm.myAddress.$valid }}
            {{ myForm.myAddress.$touched }}
            {{ myForm.myAddress.$dirty }}
        </form>

    </body>

    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="custom-direcitve.js"></script>
</html>