<!DOCTYPE html>
<html lang="en-US">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body ng-app="myApp">

        <div ng-controller="myController">
            <p>Name : <input type="text" ng-model="name"></p>
            <h1>Hello {{name}}</h1>
            Quantity: <input type="text" ng-model="quantity">
            Cost: <input type="text" ng-model="cost">
            <p>Quantity * Cost = {{ quantity * cost }}</p>
            <!-- Object -->
            <p>{{ person.lastName }}</p>
            <!-- Arrays -->
            <p ng-repeat="x in myArray">{{ x }}</p>
        </div>

    </body>

    <script src="app.js"></script>
    <script src="controller.js"></script>
</html>